.musicplayer {
  width: 50px;
  height: 50px;
  background: white;
  border: 3px solid black;
  border-radius: 50%;
  overflow: hidden;
  line-height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  animation: rotationmusic 5s infinite linear;
}

@keyframes rotationmusic {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
